.element {
	border-width: 2px;
	border-style: solid;
}

.element:hover {
	transform: scale(0.9);
	filter: grayscale(50%);
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.number {
	font-size: 0.7em;
	font-weight: 300;
	text-align: left;
	margin: 3px 6px 0;
}

.symbol {
	font-size: 2.1em;
	font-weight: 500;
	text-align: center;
	margin: auto;
}

.rotate p {
	visibility: hidden;
}

.alkali, .alkaline {
	background-color: rgba(24, 255, 146, 0.2);
	border-color: var(--alkali);
	color: var(--alkali);
}

.transition {
	background-color: rgba(28, 226, 178, 0.2);
	border-color: var(--transition);
	color: var(--transition);
}

.post-transition {
	background-color: rgba(166, 255, 143, 0.2);
	border-color: var(--post-transition);
	color: var(--post-transition);
}

.diatomic {
	background-color: rgba(97, 195, 255, 0.2);
	border-color: var(--diatomic);
	color: var(--diatomic);
}

.polyatomic {
	background-color: rgba(90, 135, 255, 0.2);
	border-color: var(--polyatomic);
	color: var(--polyatomic);
}

.metalloid {
	background-color: rgba(251, 243, 140, 0.2);
	border-color: var(--metalloid);
	color: var(--metalloid);
}

.lanthanide {
	background-color: rgba(251, 137, 251, 0.2);
	border-color: var(--lanthanide);
	color: var(--lanthanide);
}

.actinide {
	background-color: rgba(194, 110, 255, 0.2);
	border-color: var(--actinide);
	color: var(--actinide);
}

.noble {
	background-color: rgba(255, 20, 97, 0.2);
	border-color: var(--noble);
	color: var(--noble);
}

.family1 {
	grid-column: 1;
}

.family2 {
	grid-column: 2;
}

.family3 {
	grid-column: 3;
}

.family4 {
	grid-column: 4;
}

.family5 {
	grid-column: 5;
}

.family6 {
	grid-column: 6;
}

.family7 {
	grid-column: 7;
}

.family8 {
	grid-column: 8;
}

.family9 {
	grid-column: 9;
}

.family10 {
	grid-column: 10;
}

.family11 {
	grid-column: 11;
}

.family12 {
	grid-column: 12;
}

.family13 {
	grid-column: 13;
}

.family14 {
	grid-column: 14;
}

.family15 {
	grid-column: 15;
}

.family16 {
	grid-column: 16;
}

.family17 {
	grid-column: 17;
}

.family18 {
	grid-column: 18;
}

.period1 {
	grid-row: 1;
}

.period2 {
	grid-row: 2;
}

.period3 {
	grid-row: 3;
}

.period4 {
	grid-row: 4;
}

.period5 {
	grid-row: 5;
}

.period6 {
	grid-row: 6;
}

.period7 {
	grid-row: 7;
}

.period9 {
	grid-row: 9;
}

.period10 {
	grid-row: 10;
}