.none {
    display: none;
}

.nonmetal {
	width: 90px;
    margin: 100px 0 0 1160px;
    height: 100px;
    fill: #c5c2cb;
    transition: all 0.5s;
}

.nonmetal:hover .shaker {
	animation: shaker 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
	transform-origin: center;
}

@keyframes shaker {
	60% {transform: rotate(135deg)}

	100% {transform: rotate(-	135deg)}
}

.nonmetal text {
    font-size: 9.5em;
}

