.none {
    display: none;
}

.nonmetal {
	width: 90px;
    margin: 100px 0 0 1160px;
    height: 100px;
    fill: #c5c2cb;
    transition: all 0.5s;
}

.nonmetal:hover {
	fill: #777184;
}

.nonmetal text {
    font-size: 9.5em;
}