.trigger {

}

.metal {
	width: 90px;
    margin: 275px 0 0 549px;
    height: 90px;
    background-color: lime;
}

.nonmetal {
	width: 90px;
    margin: 100px 0 0 1160px;
    height: 90px;
    background-color: lime;
}

.lanthanide {
	width: 90px;
    margin: 550px 0 0 640px;
    height: 90px;
    background-color: lime;
}