html {
	box-sizing: border-box;
	overflow: hidden;
	background-color: #111117;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}