html {
	box-sizing: border-box;
	overflow: hidden;
	background-color: #111117;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

:root {
	--alkali: rgb(24, 255, 146);
	--transition: rgb(28, 226, 178);
	--post-transition: rgb(166, 255, 143);
	--metalloid: rgb(251, 243, 140);
	--diatomic: rgb(97, 195, 255);
	--polyatomic: rgb(90, 135, 255);
	--noble: rgb(255, 20, 97);
	--lanthanide: rgb(251, 137, 251);
	--actinide: rgb(194, 110, 255);
}
