.animation {
    position: absolute;
    top: 60px;
    left: 320px;
}

#edge {
	fill: none;
	stroke: #000;
	stroke-width: 5;
	animation: desappearEdge 3000ms forwards 7000ms;
}

@keyframes desappearEdge {
	100% {opacity: 0; filter: blur(100px);}
}

#halogenGroup {
	transform-origin: center;
	animation-name: halogenGropuEntrance, halogenGroupScale, groupDesappear;
	animation-duration: 2000ms, 10000ms, 2000ms;
	animation-timing-funtion: cubic-bezier(0.19, 1, 0.22, 1), linear;
	animation-fill-mode: forwards;
	animation-delay: 3000ms, 6500ms, 11000ms;
}

@keyframes halogenGropuEntrance {
	100% {height: 304px;}
}

@keyframes halogenGroupScale {
	100% {transform: scale(1.5) translateX(-25px); filter: blur(100px);}
}

#alkalinGroup {
	transform-origin: center;
	animation-name: alkalinGropuEntrance, alkalinGroupScale, groupDesappear;
	animation-duration: 2000ms, 10000ms, 2000ms;
	animation-timing-funtion: cubic-bezier(0.19, 1, 0.22, 1), linear;
	animation-fill-mode: forwards;
	animation-delay: 4500ms, 7500ms, 11000ms;
}

@keyframes alkalinGropuEntrance {
	100% {height: 305px;}
}

@keyframes alkalinGroupScale {
	100% {transform: scale(1.5) translateX(25px);}
}

@keyframes groupDesappear {
	100% {opacity: 0; filter: blur(100px);}
}

#halogen {
	transform-origin: center;
	opacity: 0;
	animation-name: halogenEntrance;
	animation-duration: 11000ms;
	animation-timing-funtion: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
	animation-fill-mode: forwards;
	animation-delay: 5000ms;
}

@keyframes halogenEntrance {

	0% {transform: translate(3px, 21px);}

	15% {transform: translate(3px, 6px); opacity: 1;}

	100% {opacity: 1; transform: translate(-30px, -6px) scale(1.5) ;}
}

#alkalin {
	transform-origin: center;
	opacity: 0;
	animation-name: alkalinEntrance;
	animation-duration: 11000ms;
	animation-timing-funtion: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
	animation-fill-mode: forwards;
	animation-delay: 6000ms;
}

@keyframes alkalinEntrance {
	0% {transform: translate(0px, 30px);}

	15% {transform: translate(0px, 15px); opacity: 1;}

	100% {opacity: 1; transform: translate(30px, 13px) scale(1.5);}
}

#halogen path:nth-child(n+2) {
	animation: desappear 2000ms forwards 11000ms;
}

#alkalin path:nth-child(n+2) {
	animation: desappear 2000ms forwards 11000ms;
}

@keyframes desappear {
	100% {opacity: 0}
}

#halogen path:first-child {
	transform-origin: center;
	animation-name: prefusionHal;
	animation-duration: 6000ms;
	animation-timing-funtion: cubic-bezier(0.39, 0.575, 0.565, 1);
	animation-fill-mode: forwards;
	animation-delay: 12000ms;
}

@keyframes prefusionHal {
	40% {transform: translate(-100px, 115px) scale(2);}

	70% {transform: translate(-260px, 115px) scale(2.1);}
	
	85% {filter: blur(0px);}

	99% {transform: translate(-260px, 115px) scale(2.1); opacity: 1;}

	100% {transform: translate(-260px, 115px) scale(2.1); opacity: 0; filter: blur(50px);}
}

#alkalin path:first-child {
	transform-origin: center;
	animation-name: prefusionAlk;
	animation-duration: 6000ms;
	animation-timing-funtion: linear;
	animation-fill-mode: forwards;
	animation-delay: 12000ms;
}

@keyframes prefusionAlk {
	40% {transform: translate(100px, 117px) scale(2);}

	70% {transform: translate(230px, 117px) scale(2.1);}

	99% {transform: translate(230px, 117px) scale(2.1); opacity: 1;}

	100% {transform: translate(230px, 117px) scale(2.1); opacity: 0;}
}

#salt path:first-child {
	transform-origin: center;
	transform: translateX(140px) scale(1.5);
	opacity: 0;
	animation-name: appearanceS;
	animation-duration: 2000ms;
	animation-timing-funtion: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-fill-mode: forwards;
	animation-delay: 16500ms;
}

@keyframes appearanceS {
	100% {opacity: 1}
}

#salt path:nth-child(n+2) {
	transform-origin: center;
	transform: translate(150px, 50px) scale(1.7);
	opacity: 0;
	filter: blur(10px);
	animation-name: appearanceALT;
	animation-duration: 1700ms;
	animation-timing-funtion: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-fill-mode: forwards;
	animation-delay: 20000ms;
}

@keyframes appearanceALT {
	100% {transform: translate(150px, 0px); opacity: 1;}
}

.halogenText p {
    position: absolute;
    top: 530px;
    left: 360px;
    width: 770px;
    color: #c5c2cb;
	font-size: 1.1em;
	text-align: center;
}

.halogenText p:nth-child(1) {
	visibility: hidden;
	animation: showText 6000ms linear forwards 1000ms;
}

.halogenText p:nth-child(2) {
	visibility: hidden;
	animation: showText 7000ms linear forwards 7100ms;
}

.halogenText p:nth-child(3) {
	visibility: hidden;
	animation: showText 6000ms linear forwards 14200ms;
}

.halogenText p:nth-child(4) {
	visibility: hidden;
	animation: showText 5000ms linear forwards 20300ms;
}

@keyframes showText {
	99% {visibility: visible;}
	100% {visibility: hidden;}
}

.interactionContainer {
	display: inline-flex;
}

.compound {
	width: 100px;
	height: 50px;
}

.compound span:first-child {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
}

.compound span:nth-child(n+2) {
	font-size: 1.4em;
	font-weight: 300;
	text-align: center;
}

.dropAlkalin {
	width: 60px;
	height: 60px;
	background-color: var(--alkalin);
}

.dropHalogen {
	width: 60px;
	height: 60px;
	background-color: var(--diatomic);
}




