.table {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(18, 72px); 
	grid-template-rows: repeat(7, 72px) 20px repeat(2, 72px);
	margin: 35px auto;
	width: 1350px;
} 

.rotation-enter {
	transform-style: preserve-3d; 
	transform-origin: center;
	opacity: 0;
}

.rotation-enter.rotation-enter-active {
	opacity: 1;
	transition: opacity 3000ms linear;
}

.rotation-leave {
	transform-style: preserve-3d; 
	transform-origin: center;
	opacity: 1;
}

.rotation-leave.rotation-leave-active {
	opacity: 0;
	transition: opacity 3000ms linear;
}

